main {
  max-width: 600px;
}

h3, p {
  text-align: left;
}

h3 {
  color: #001D55;
  font-family: Muli, sans-serif;
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

.blue-type {
  color: #96D0F1;
}

.yellow-type {
  color: #FFDF3F;
}

.blue-type2 {
  color: #26ACC5;
}

ol {
  list-style-position: inside;
  margin-bottom: 16px;
  line-height: 1.5em;
}

ul {
  list-style-position: inside;
  margin-bottom: 16px;
  line-height: 1.5em;
}

.big-link {
  margin: 20px auto;
  display: block;
  color: #26acc5;
  font-size: 1.5em;
}