main {
  /* max-width: 600px; */
  /* width: 50%; */
}

h3, p {
  text-align: left;
}

h3 {
  color: #001D55;
  letter-spacing: .01em;
  font-family: "Muli";
  letter-spacing: .15em;
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

.blue-type {
  color: #96D0F1;
}

.blue1-type {
  color: #26Acc5;
}

.yellow-type {
  color: #FFDF3F;
}

.blue2-type {
  color: #1B4481;
}

.track-link {
  color: #26ACC5;
  font-family: Muli;
  letter-spacing: 0.005em;
  font-weight: 500;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 10px;
}

.project li {
  margin-left: 30px;
  margin-bottom: 5px;

}