main {
  max-width: 600px;
}

h3, p {
  text-align: left;
}

h3 {
  color: #f766a6;
  letter-spacing: .01em;
  font-family: "Libre Franklin";
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

.red {
  color: #ff6f61;
}

.yellow {
  color: #00d87b;
}

.blue {
  color: #2ec0cf;
}
