.maps-container {
  display: flex;
  width: 960px;
}

.left {
  flex-basis: 25%;
  margin-right: 32px;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 24px;
}

.buttons {
  margin-bottom: 36px;
}

.button {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 24px;
  padding: 8px;
  position: relative;
  text-align: center;
}

.button h2 {
  margin-bottom: 0;
}

.button.yellow {
  background: #f6c55e;
}

.button.red {
  background: #ec5760;
}

.button .arrow {
  width: 0;
  height: 0;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;

  display: none;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.button.active .arrow, .button:hover .arrow {
  display: block;
}

.button.yellow .arrow {
  border-left-color: #f6c55e;
}

.button.red .arrow {
  border-left-color: #ec5760;
}

p {
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 12px;
}

p a {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.right {
  flex-basis: 75%;
}

#map {
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .maps-container {
    display: table;
    margin: 0 auto;
    width: auto;
  }

  .box img {
    display: none;
  }

  h1 {
    text-align: center;
  }

  h1, h2 {
    margin-left: 0;
  }

  .button {
    display: block;
    margin: 0 auto 16px;
    width: 100%;
  }

  .button.active .arrow, .button:hover .arrow {
    display: none;
  }

  .left {
    margin-right: 0;
  }

  .right {
    margin-top: 32px;
  }
}
