.prizes {
  display: flex;
  margin-right: 0px;
}
.column {
  flex: 1 1;
}

.prize {
  margin: 16px;
  margin-left: 0px;
  padding: 12px 16px;
  padding-left: 0px;
  padding-bottom: 16px;
  text-align: left;
}

.prize.top {
  margin-top: 0;
  margin-left: 0px;
  padding-left: 0px;
}

.prize h3 {
  color: #4699D3 ;
  font-size: 20px;
  margin-bottom: 4px;
  letter-spacing: .07em;
}

h3 {
  color: #2ec0cf;
  font-family: "Norwester";
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.7em;
  padding-bottom: 4px;
  text-align: left;
}

.blue {
  background-color: #2ec0cf;
}

.green {
  background-color: #00d87b;
}

.red {
  background-color: #f766a6;
}


.prize-catagory {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8em;
}

.prize {
  position: relative;
  border-radius: 20px;
}

.prize > p {
  padding-left: 20px;
  padding-right: 20px;
}

.prize-description {
  font-size: 0.9em;
  line-height: 1.25em;
}

.title {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.1em;
  padding-bottom: 5px;
}

.track-prizes {
  margin-left: 20px;
  margin-right: 10px;
}

.track-prizes li {
  list-style-type: disc;
  list-style-position: inside;
}

.track-prizes ul {
  padding-bottom: 30px;
}

.blurb li {
  list-style-type: decimal;
  list-style-position: inside;
}
.blurb ul {
  padding: 0px 5px 20px 5px;
}

.highlight {
  color: white;
  margin-bottom: 4px;
}

.column.desktop{
  line-height: 1.5em;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  main .column {
    flex: none;
    margin: 0;
    padding-bottom: 20px;
  }

  main .prizes {
    display: block;
    margin: 0 auto;
  }

  main .column:nth-child(2) {
    margin-top: 16px;
  }
}
