h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#Instruction {
  text-align: center;
  margin-bottom: 3vw;
}

.track-link {
  color: #26ACC5;
  font-weight: 400;
  font-family: Muli;
  letter-spacing: 0.005em;
}

.schedule-container {
  display: flex;
  margin: 0 auto;
  /* width: 760px; */
  width: 100%;
}

.day {
  flex: 1;
  margin: 0 16px;
}

.day-name-box {
  width: 100%;
}

.day-name {
  padding: 8px;
  width: 100%;
}

.day-name-box .arrow {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #231f20;

  width: 0;
  height: 0;

  display: block;
  margin: 0 auto;
}

.day.yellow .arrow {
  border-top-color: #ffdf3f;
}

.day.blue .arrow {
  border-top-color: #9cD0f1;
}

.day.red .arrow {
  border-top-color: #ff6f61;
}

.day-name h2 {
  color: #fff;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.day.blue .day-name {
  background: #9cD0f1;
}

.day.yellow .day-name {
  background: #ffdf3f;
}

.day.red .day-name {
  background: #ff6f61;
}

.day .day-details {
  margin-top: 18px;
  margin-bottom: 22px;
}

.day .day-details p:first-of-type {
  margin-bottom: 4px;
}

.day .day-details span {
  font-weight: 600;
}

.day.blue .day-details span {
  color: #9cD0f1;
}

.day.yellow .day-details span {
  color: #ffdf3f;
}

.day.red .day-details span {
  color: #ff6f61;
}

.events {
  border-left: 2px solid #00d87b;
  padding-bottom: 12px;
  padding-left: 12px;
}

.day.yellow .events {
  border-color: #ffdf3f;
}

.day.red .events {
  border-color: #ff6f61;
}

.day.blue .events {
  border-color: #9cD0f1;
}



.event {
  background: #fff;
  color: #231f20;
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.event:first-of-type {
  margin-top: 0;
}

.event:last-of-type {
  margin-bottom: 0;
}

.event.yellow {
  background: #ffdf3f;
}

.event.blue {
  background: #9cD0f1;
}

.event.red {
  background: #ff6f61;
  /* color: #231f20; */
}

.event .name {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 1.15vw;
}

.event .details {
  font-size: 1.3vw;
}

.heading {
  position: relative;
}

.heading .circle {
  background: #00d87b;
  border-radius: 50%;
  height: 12px;
  left: -13px;
  position: absolute;
  transform: translateX(-50%);
  width: 12px;
}

.heading.blue .circle {
  background: #9cD0f1;
}

.heading.red .circle {
  background: #ff6f61;
}

.heading.yellow .circle {
  background: #ffdf3f;
}

.reminder {
  position: relative;
}

.reminder .circle {
  background: #ffffff;
  border-radius: 50%;
  height: 12px;
  left: -13px;
  position: absolute;
  transform: translateX(-50%);
  width: 12px;
}


.reminder.blue .circle {
  background: #9cD0f1;
}

.reminder.red .circle {
  background: #ff6f61;
}

.reminder.yellow .circle {
  background: #ffdf3f;
}


.heading > p {
  color: #00d87b;
  font-weight: 600;
  margin-left: 8px;
}

.heading.blue > p {
  color: #9cD0f1;
}

.heading.yellow > p {
  color: #ffdf3f;
}

.heading.red > p {
  color: #ff6f61;
}


.reminder > p {
  color: #001d55;
  font-weight: 600;
  margin-left: 8px;
  font-size: 1.2vw;
}

.reminder.blue > p {
  color: #001d55;
}

.reminder.yellow > p {
  color: #001d55;
}

.reminder.red > p {
  color: #001d55;
}


.heading .subevents {
  display: flex;
}

.heading .subevents .event {
  flex: 1;
  margin: 8px 4px;
}

.heading .subevents .event:first-of-type {
  margin-left: 0;
}

.heading .subevents .event:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 760px) {
  h1 {
    text-align: center;
    width: auto;
  }

  .schedule-container {
    display: block;
    width: 100%;
  }

  .day:last-of-type {
    margin-top: 32px;
  }

  .event .name {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 3vw;
  }
  
  .event .details {
    font-size: 2.5vw;
  }

  .reminder > p {
    color: #001d55;
    font-weight: 600;
    margin-left: 8px;
    font-size: 3vw;
  }


}


.nolink {
  color: #001d55;
  font-family: LemonMilkRegular;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.25s ease color;

  font-weight: 400;
  margin-bottom: 2px;
  font-size: 1.15vw;
}