---
layout: default
title: Hardware
---
<style type="text/css">
.notice {
  margin-bottom: 24px;
  text-align: center;
}

.hardware {
  display: flex;
}

.column {
  flex: 1 1;
  margin: 0 16px;
}

.section {
  margin-bottom: 24px;
  text-align: center;
}
</style>

<h1>Hardware</h1>
<p class="notice">Here's some of the hardware we are lending out to hackers during the hackathon. Go to <a href="https://hardware.hackmit.org" target="_blank">hardware.hackmit.org</a> for more information! Please come to the Hardware section in Johnson Ice Rink if you want to hack on hardware provided by HackMIT.</p>
<div class="hardware">
  <div class="column">
    {% for section in site.data.hardware %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 0 %}
    <div class="section">
      <h2>{{ section.name }}</h2>
      {% for hardware in section.hardware %}
      <p>{{ hardware }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for section in site.data.hardware %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 1 %}
    <div class="section">
      <h2>{{ section.name }}</h2>
      {% for hardware in section.hardware %}
      <p>{{ hardware }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
