---
layout: default
title: Prizes
skinny: true
---
<h1>judging and prizes</h1>
  <div class="prizes">
    <div class="column desktop">
      <h2 class="prize-catagory">GENERAL PRIZES</h2>
      {% for prize in site.data.prizes.prizes %}
      {% assign modcolor = forloop.index | modulo: 6 %}
        <div class="prize {% if modcolor == 1 %}yellow{% endif %}{% if modcolor == 2 %}light-blue{% endif %}{% if modcolor == 3 %}accent-blue{% endif %}{% if modcolor == 0 or modcolor > 3 %}red{% endif %}">
          <div class="border"></div>
          <p class="title">{{prize.title}}</p>
          <p class="prize-description">{{prize.prize}}</p>
        </div>
      {% endfor %}
    </div>
    <div class="column desktop track-prizes">
      <h2 class="prize-catagory">TRACK PRIZES</h2>
      <h3>Tracks</h3>
      <ul>
      {% for track in site.data.prizes.tracks %}
        <li>{{track.track}}</li>
      {% endfor %}
      </ul>
      <h3>Prizes</h3>
      <p>Winners of track prizes will be able to choose their prize from this list!</p>
      <ul>
      {% for prize in site.data.prizes.track-prizes %}
        <li>{{prize.prize}} </li>
      {% endfor %}
      </ul>
    </div>
    <div class="column desktop blurb">
      <h2 class="prize-catagory">PROJECT SUBMISSIONS</h2>
      <p>
        Project submissions must be in by <b>10:00 AM ET on Sunday</b>.
        At the expo and sponsor judging, each team will present their projects virtually for a few minutes to a small group of judges. After expo and sponsor judging ends at <strong>1:00 PM</strong>, the top teams will be chosen for panel judging.
      </p>
    </div>
  </div>
