---
layout: default
title: Prizes
skinny: true
---
<h1>judging and prizes!</h1>
{% for section in site.data.prizes %}
  <h2>{{ section.title }}</h2>
  {% if section.description != null %}
    <h3>{{ section.description }}</h3>
  {% endif %}
  <div class="prizes">
    <div class="column desktop">
      {% for prize in section.prizes %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod != 0 %}
      <div class="prize{% if forloop.index == 1 %} top{% endif %}">
        <h3>{{ prize.title }}</h3>
        <p class="highlight">{{ prize.prize }}</p>
        <p>{{ prize.description }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="column desktop">
      {% for prize in section.prizes %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
      <div class="prize{% if forloop.index == 2 %} top{% endif %}">
        <h3>{{ prize.title }}</h3>
        <p class="highlight">{{ prize.prize }}</p>
        <p>{{ prize.description }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="column desktop blurb">
      <p>
        Project submissions must be in by <b> 5:30 PM</b>, but you can continue hacking until the expo at <b>6 PM</b>.
        At the expo, each team will present their projects for a few minutes at a time to small groups of judges in a science-fair format. After expo judging ends at <strong>7:30 PM</strong>, the top teams will be chosen to demo onstage during our closing ceremony in front of all of Blueprint!
        <br />
        <br />
        The beginner division is meant for people learning to build their first projects or attending their first hackathon this Blueprint. Otherwise, join the main division!
      </p>
    </div>
    <div class="column mobile">
      {% for prize in section.prizes %}
        <div class="prize{% if forloop.index == 1 %} top{% endif %}">
          <h3>{{ prize.title }}</h3>
          <p class="highlight">{{ prize.prize }}</p>
          <p>{{ prize.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
