---
layout: default
title: Schedule
---
<style type="text/css">
table {
  width: 100%;
}

thead {
  font-weight: bold;
  font-size: 20px;
}

td {
  line-height: 24px;
}

td.center {
  text-align: center;
}

td.spacer {
  width: 12px;
}

td.nowrap {
  white-space: nowrap;
}

.segmented-control {
  border: 2px #fff solid;
  border-radius: 8px;
  display: flex;
  margin-bottom: 32px;
}

.segmented-control .option {
  cursor: pointer;
  flex: 1 1;
  height: 36px;
}

.segmented-control .option.selected {
  background: #fff;
  color: #180724;
}

.segmented-control .option p {
  line-height: 36px;
  text-align: center;
}

.day {
  background: #fff;
  color: #180724;
  text-align: center;
}

.day td {
  border-radius: 4px;
  padding: 4px 0;
}

.space {
  height: 8px;
}

.space.big {
  height: 16px;
}

@media only screen and (max-width: 760px) {
  td.nowrap {
    white-space: normal;
  }
}
</style>

<h1>Schedule</h1>
<div class="segmented-control">
  <div class="option selected" option="0">
    <p>General Events</p>
  </div>
  <div class="option" option="1">
    <p>Workshops</p>
  </div>
</div>
<table>
  <thead>
    <tr>
      <td>Start</td>
      <td class="spacer"></td>
      <td>End</td>
      <td class="spacer"></td>
      <td>Event</td>
      <td class="spacer"></td>
      <td>Location</td>
    </tr>
  </thead>
  <tbody>
    <tr class="space"></tr>
    <tr class="day">
      <td colspan="7">Saturday</td>
    </tr>
    <tr class="space"></tr>
    {% for event in site.data.events.saturday %}
    {% if event.workshop == null %}
    <tr option="0">
      {% if event.end == null %}
      <td class="center" colspan="3">{{ event.start }}</td>
      {% else %}
      <td>{{ event.start }}</td>
      <td class="spacer"></td>
      <td>{{ event.end }}</td>
      {% endif %}
      <td class="spacer"></td>
      <td>{{ event.name }}</td>
      <td class="spacer"></td>
      <td class="nowrap">{{ event.location }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% for event in site.data.events.saturday %}
    {% if event.workshop %}
    <tr class="hidden" option="1">
      {% if event.end == null %}
      <td class="center" colspan="3">{{ event.start }}</td>
      {% else %}
      <td>{{ event.start }}</td>
      <td class="spacer"></td>
      <td>{{ event.end }}</td>
      {% endif %}
      <td class="spacer"></td>
      <td>{{ event.name }}</td>
      <td class="spacer"></td>
      <td class="nowrap">{{ event.location }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr class="big space"></tr>
    <tr class="day" option="0">
      <td colspan="7">Sunday</td>
    </tr>
    <tr class="space"></tr>
    {% for event in site.data.events.sunday %}
    {% if event.workshop == null %}
    <tr option="0">
      {% if event.end == null %}
      <td class="center" colspan="3">{{ event.start }}</td>
      {% else %}
      <td>{{ event.start }}</td>
      <td class="spacer"></td>
      <td>{{ event.end }}</td>
      {% endif %}
      <td class="spacer"></td>
      <td>{{ event.name }}</td>
      <td class="spacer"></td>
      <td class="nowrap">{{ event.location }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<script src="schedule.js"></script>
