---
layout: default
title: Schedule
---
<h1>schedule</h1>

<div class="flex-container">
  <p id="Instruction">Click on the title of the event for the link. <br> More information about each event <a href="pages/events" class="track-link">here</a>.</p>

<div class="schedule-container">
  
  {% for day in site.data.schedule %}
  <div class="day {{ day.color }}">
    <div class="day-name-box">
      <div class="day-name">
        <h2>{{ day.name }}</h2>
      </div>
      <div class="arrow"></div>
    </div>
    <div class="day-details">
      <p><span>date:</span> {{ day.date }}</p>
      <!-- <p><span>location:</span> {{ day.location }}</p> -->
    </div>
    <div class="events">
      {% for event in day.events %}
        {% if event.reminder %}
        <div class="reminder {{ event.color | default: "" }}">
          <div class="circle"></div>
          <p>{{ event.time }} | {{ event.name }}</p>
   
        </div>
        {% else %}
        {% if event.events %}
        
        <div class="heading {{ event.color | default: "" }}">
          <!-- <div class="circle"></div> -->
          <p>{{ event.name }}</p>
          <div class="subevents">
            {% if event.events != "none" %}
            {% for subevent in event.events %}
            <div class="popover__wrapper">
              <div class="event subevent {{ subevent.color | default: event.color | default: "" }}">
                {% if subevent.link %}
                <a href={{ subevent.link }} target="_blank" class="name">{{ subevent.name }} </a>
                {% else %}
                <p class="nolink">{{ subevent.name }}</p>
                {% endif %}
                <!-- <p class="heading {{ event.color | default: "" }}">{{ subevent.name }}</p> -->
                <p class="details">{{ subevent.time }}</p>
                <!-- <p class="details">{{ subevent.location }}</p> -->
                {% if subevent.description %}
                  <div class="popover__content subevent-content">
                    <h3>{{ subevent.name }}</h3>
                    <p class="popover__message">
                    {{ subevent.description }}
                    </p>
                  </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
          
        {% else %}
        <div class="popover__wrapper">
          <div class="event {{ event.color | default: "" }}">
          {% if event.link %}
            <a href={{ event.link }} target="_blank" class="name">{{ event.name }} </a>
          {% else %}
            <p class="nolink">{{ event.name }}</p>
          {% endif %}

          
          <!-- <p class="name">{{ event.name }}</p> -->
          <p class="details">{{ event.time }}</p>
          {% if event.description %}
            <div class="popover__content">
              <h3>{{event.name}}</h3>
              <p class="popover__message">
              {{ event.description }}
              </p>
            </div>
          {% endif %}
          </div>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
</div>