---
layout: default
title: Tech Talks
skinny: true
---
<h1> speakers</h1>
{% for section in site.data.speakers %}
  <h2>{{ section.title }}</h2>
  {% if section.description != null %}
    <h3>{{ section.description }}</h3>
  {% endif %}
  <div class="speakers">
    <div class="column">
      {% for speaker in section.speakers %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod != 0 %}
      <div class="speaker{% if forloop.index == 1 %} top{% endif %}">
        <h3>{{ speaker.name }}</h3>
        <p class="highlight">{{ speaker.title }}</p>
        <p>{{ speaker.description }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="column">
      {% for speaker in section.speakers %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
      <div class="speaker{% if forloop.index == 2 %} top{% endif %}">
        <h3>{{ speaker.name }}</h3>
        <p class="highlight">{{ speaker.title }}</p>
        <p>{{ speaker.description }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
