---
layout: default
title: Tracks
skinny: true
---


<h1>Tracks</h1>
  <div class="jumplinks">
    <p><a href=#ed>Education</a>  ~  <a href=#cc>Communication/Connectivity</a>  ~  <a href=#ui>Urban Innovation</a>  ~  <a href=#ht>Health Tech</a> </p>

  </div>
  <h2 class="popup-title" id="ed"> Education </h2>
    <div class="overlay-text"> 
      <img id="Bus" src="/img/Bus.svg"/>

      <h3 class="popup-sub-title"> Description </h3>
      <p style = "text-indent : 1em;"> Education technology, or EdTech, is designed to <b> empower students of all ages and encourage lifelong learning.</b> These projects include any sort of technology that augments and enhances the learning experiences of students, whether it be studying traditional curriculum in a classroom or trying to pick up a new hobby or skill. This track also aims to increase the accessibility of information and accommodate various learning styles and strengths.  </p>
      <h3 class="popup-sub-title"> Guiding Questions </h3>
      <ul>
          <li>How can we use EdTech to enhance learning in a traditional classroom setting?  </li>
          <li>How can technology improve students’ retention of information?</li>
          <li>Can education technology be used to make homework more useful and improve students’ experiences with their at-home assignments?</li>
          <li>How can education technology make learning more engaging for students of all ages?</li>
          <li>How can technology be used to introduce young students to STEM fields?</li>
      </ul>
      <h3 class="popup-sub-title"> Potential Topics </h3>
      <ul>
          <li> <b>Writing, Grammar, and Literature: </b>How can technology be used to improve students’ reading and writing skills? </li>
          <li><b>Languages: </b>What can be built to help people of all ages pick up a new language?</li>
          <li> <b>Early STEM Education: </b>Introducing young students to STEM fields like computer science, math, and biology is critical to developing a lifelong love of learning. How can EdTech best be used to facilitate that passion?</li>
          <li><b>Pre-K Education: </b>How can education technology be used to positively shape children’s formative years?</li>
          <li><b>Organization and Stress Management: </b>With tasks on to-do lists piling up for students and professionals alike, how can EdTech help people stay on top of their workload and prevent them from becoming anxious or overwhelmed?</li>
          <li><b>Cutting-edge Technologies: </b>Can you incorporate advances in fields like machine learning and augmented reality to improve learning experiences? How can these fields be introduced and taught to students of all ages?</li>
      </ul>

      <h3 class="popup-sub-title"> Past HackMIT Projects </h3>
      <ul>
          <li><a href="https://devpost.com/software/studydate-vxpws8" target="_blank" class="track-link">StudyDate: </a> An education platform for personalized and social learning: assess your current knowledge, identify your weaknesses, and find friends/mentors to help you learn!</li>
          <li><a href="https://devpost.com/software/text2test" target="_blank" class="track-link">Text2Test: </a> A website that creates customized tests based on students’ notes</li>
          <li><a href="https://devpost.com/software/afar" target="_blank" class="track-link">AFAR: </a> A learning platform that helps people with learning disabilities focus in distracting, noisy environments</li>
          <li><a href="https://devpost.com/software/hackmit2019-qcu9y7" target="_blank" class="track-link">VocabViz: </a> An application that promotes learning new language vocabulary through an interactive AR experience</li>
          <li><a href="https://devpost.com/software/onpause" target="_blank" class="track-link">OnPause: </a> A tool designed to streamline language learning when watching/listening to online streaming, YouTube videos, or podcasts</li>
      </ul>

      <h3 class="popup-sub-title"> Resources </h3>
      <ul>
          <li><a href="https://developers.google.com/classroom/guides/get-started" target="_blank" class="track-link">Google Classroom API: </a> Tools for teachers to facilitate digital learning</li>
          <li><a href="https://conjuguemos.com/" target="_blank" class="track-link"> Conjuguemos: </a> Interactive tool to learn verb conjugations in a variety of languages</li>
          <li><a href="https://www.khanacademy.org/profile/kaid_927284150536721664321295/courses" target="_blank" class="track-link">Khan Academy: </a> Videos and lessons on a variety of topics, including math, science, and grammar</li>
          <li><a href="https://www.duolingo.com/" target="_blank" class="track-link">Duolingo: </a>Online resource for learning new languages</li>
          <li><a href="https://play.typeracer.com/" target="_blank" class="track-link">Typeracer: </a> Fun game to improve typing speed and accuracy</li>
          
          <li><a href="https://www.coursera.org/" target="_blank" class="track-link">Coursera: </a> Online courses on a myriad of topics</li>  
          <li><a href="https://quizlet.com/" target="_blank" class="track-link">Quizlet: </a> Interactive flashcards</li>  
          <li><a href="https://www.edx.org/" target="_blank" class="track-link">EdX: </a> Online courses, including lessons from colleges and universities</li>  
          <li><a href="https://scratch.mit.edu/" target="_blank" class="track-link">Scratch: </a> Block-based coding for computer science education</li>  

      </ul>

      <h3 class="popup-sub-title"> Nonprofits </h3>
      <ul>
          <li><a href="https://www.kiva.org/" target="_blank" class="track-link">Kiva: </a> Kiva works in more than 90 countries across the world, connecting entrepreneurs, single parents, farmers and students with lenders. We’ve been connecting the world for fifteen years and now, we want to see what you build to bring our mission of expanding financial access to help underserved communities thrive. </li>
          <li><a href="https://www.wikimedia.org/" target="_blank" class="track-link"> Wikimedia: </a> Wikipedia, under Wikimedia, is one of the world’s largest encyclopedia and top ten internet websites. Drop by their tent in Nonprofit Village for more ideas on harnessing the power of data, or have a chat with their mentors during our Team Formation/Ideation event and throughout the weekend!</li>
     
      </ul>
  </div>

  <h2 class="popup-title" id="cc"> Communication/ Connectivity </h2>

    <div class="overlay-text"> 
        <img id="Connect" src="/img/Wifi.svg"/>
        <h3 class="popup-sub-title"> Description </h3>
        <p style = "text-indent : 1em;"> The Connectivity track <b>brings people together, connecting them regardless of their physical locations. </b>These projects provide a platform for individuals to become part of a larger community, opening communication channels (both real-time and asynchronous) to help people connect with long-lost friends, meet new acquaintances with similar interests, challenge existing viewpoints, and more.  </p>
        <h3 class="popup-sub-title"> Guiding Questions </h3>
        <ul>
            <li>How can technology help us overcome the technological, physical, and psychological barriers that prevent humans from forming meaningful connections with others? </li>
            <li>Which existing technologies are there to improve connectivity, and which ones are missing?</li>
            <li>How might different age groups use these technologies differently? How can we use technology to bridge generational divides?</li>
            <li>What can be built to mitigate feelings of isolation and loneliness (especially during an extended period of social distancing)?</li>
        </ul>
        <h3 class="popup-sub-title"> Potential Topics </h3>
        <ul>
            <li> <b>Virtual Connection: </b>In light of COVID-19, how can we find ways to meet up virtually to maintain social connection? </li>
            <li><b>Fostering Conversation: </b>Now, more than ever, communication is key to improving society. How can technology help people with different opinions have civil discussions that promote understanding of different views?</li>
            <li> <b>Blogging/Vlogging: </b>What can be created to better learn about or share the lives of individuals in different locations with varying backgrounds?</li>
            <li><b>Online Communities: </b>How can we create virtual communities ranging from book clubs to research conferences that connect people based on similar interests or help people find new hobbies?</li>
            <li><b>Gaming: </b>What are games that build communities of people who enjoy playing and encourage collaboration and teamwork?</li>
            <li><b>Social Media: </b>Can you create the next Zoom or maybe even the next Facebook?</li>
        </ul>

        <h3 class="popup-sub-title"> Past HackMIT Projects </h3>
        <ul>
            <li><a href="https://devpost.com/software/hackmit-xdjoke" target="_blank" class="track-link">Civvi: </a> A project that connects individuals to volunteering organizations</li>
            <li><a href="https://devpost.com/software/hackmit2019" target="_blank" class="track-link">CounterPoint: </a> A website that accepts one article and outputs articles with different views on the topic</li>
            <li><a href="https://devpost.com/software/studydate-vxpws8" target="_blank" class="track-link">StudyDate: </a> A personalized learning platform that connects people for study dates</li>
            <li><a href="https://devpost.com/software/rap-scorer" target="_blank" class="track-link">Rap-Scorer: </a> A multiplayer game using speech-to-text technology to score raps!</li>
            <li><a href="https://devpost.com/software/eye-in-the-sky-nm1l3k" target="_blank" class="track-link">Eye in the Sky: </a> An application where users can post info about natural disasters to help notify others </li>
        </ul>

        <h3 class="popup-sub-title"> Resources </h3>
        <ul>
            <li><a href="https://developers.facebook.com/" target="_blank" class="track-link">Facebook APIs: </a> Several Facebook APIs for developers</li>
            <li><a href="https://www.ibm.com/watson/products-services" target="_blank" class="track-link">IBM Watson APIs: </a> APIs for image recognition, analyzing speech, translating languages, and more</li>
            <li><a href="https://www.rev.ai/" target="_blank" class="track-link">Rev.AI: </a> Speech-to-text API to transform audio into written text</li>
            <li><a href="https://developers.google.com/blogger" target="_blank" class="track-link">Blogger API: </a>Connects with the Blogger platform to interact with online blogs.</li>
            <li><a href="https://github.com/Medium/medium-api-docs" target="_blank" class="track-link">Medium API: </a> API to interact with Medium blog posts</li>
            
            <li><a href="https://developers.google.com/calendar" target="_blank" class="track-link">Google Calendar API: </a> Integrates Google Calendar with a new project (e.g. for scheduling events)</li>  
            <li><a href="https://www.twilio.com/docs/video" target="_blank" class="track-link">Twilio Video API: </a> Adds video-calling to your project</li> 

        </ul>

        <h3 class="popup-sub-title"> Nonprofits </h3>
        <ul>
            <li><a href="https://humanitarianai.org/" target="_blank" class="track-link">Humanitarian AI: </a> Humanitarian AI is collaborating with the United Nations to introduce participants to humanitarian data sources and to mentor teams interested in potentially developing prototype open data driven humanitarian applications. Check them out on Nonprofit Village and during our Team Formation/Ideation event!</li>
            <li><a href="https://www.kiva.org/" target="_blank" class="track-link">Kiva: </a> Kiva works in more than 90 countries across the world, connecting entrepreneurs, single parents, farmers and students with lenders. We’ve been connecting the world for fifteen years and now, we want to see what you build to bring our mission of expanding financial access to help underserved communities thrive. </li>
        </ul>
    </div> 

  <h2 class="popup-title" id="ui"> Urban Innovation </h2>
    <div class="overlay-text"> 
        <img id="Truck" src="/img/Construction.svg"/>
        <h3 class="popup-sub-title"> Description </h3>
        <p style = "text-indent : 1em;"> Urban Innovation strives to tackle the <b>emerging social, environmental, economic, cultural, and technological problems facing cities today. </b>This track welcomes any idea that is meant for the betterment of our community, whether it is on a scale as small as a single street or something as large as helping curb climate change. </p>
        <h3 class="popup-sub-title"> Guiding Questions </h3>
        <ul>
            <li>How can we address the tradeoff between sustainability and affordability?</li>
            <li>What are ways we can improve the rebuilding and opening up of cities?</li>
            <li>How can we address safety issues surrounding transportation?</li>
            <li>How can we improve upon the average person’s carbon footprint?</li>
        </ul>
        <h3 class="popup-sub-title"> Potential Topics </h3>
        <ul>
            <li> <b>Energy & Environment: </b>How can we build technology that helps more people consume energy in a sustainable and affordable way? </li>
            <li><b>Transportation: </b>What are ways we can use technology to encourage public transportation, or usage of private vehicles that are battery-powered?</li>
            <li> <b>Community & Housing: </b>In the face of COVID-19, paying rent has almost been impossible for the majority of Americans that do not own their own houses. How can we use technology to help millions of people find and pay for their shelter?</li>
            <li><b>Civic Engagement: </b>During the past few months, forms of civic engagement, including voting by mail and protesting during the time of social distancing, have become vastly debated topics. What are ways to innovate technology that help citizens address public concerns while staying safe?</li>
            <li><b>Immigration: </b>The flight industry has been one of the most impacted during the COVID-19 crisis, and many have had their immigrations processes disrupted. What are possible technological solutions to combat issues around immigration and ensure safe international travel?</li>
        </ul>

        <h3 class="popup-sub-title"> Past HackMIT Projects </h3>
        <ul>
            <li><a href="https://devpost.com/software/villager-49dkvf" target="_blank" class="track-link">Villager: </a> A webapp that provides live updates of emergencies in your area</li>
            <li><a href="https://devpost.com/software/lgtm" target="_blank" class="track-link">SaveMe: </a> A project that uses speech-to-text to determine whether you are too drunk</li>
            <li><a href="https://devpost.com/software/mpgreen" target="_blank" class="track-link">MPGreen: </a> A system to track past driving history to advise drivers on ways they can save energy</li>
            <li><a href="https://devpost.com/software/homeup" target="_blank" class="track-link">HomeUp: </a> A web application that shows the timeline of prices of a house to help inform your decision</li>
        </ul>

        <h3 class="popup-sub-title"> Resources </h3>
        <ul>
            <li><a href="https://www.rev.ai/" target="_blank" class="track-link">Rev.AI: </a> Speech-to-text service</li>
            <li><a href="https://www.nasdaq.com/market-activity/quotes/historical" target="_blank" class="track-link"> Nasdaq Datasets: </a> Current information on home prices and stocks</li>
            <li><a href="https://go.docusign.com/sandbox/productshot/?elqCampaignId=11223&utm_source=google&utm_medium=cpc&utm_campaign=developer_api_primary&utm_term=docusign%20api&utm_content=domestic_US&gclid=CjwKCAjwztL2BRATEiwAvnALcqcAKLTXMbBHjg0C_oxHDXFAavd5ZQo6XOSyzIz1nih3Xsr2lRijUhoCPXoQAvD_BwE" target="_blank" class="track-link">DocuSign API: </a> Safe sending of documents to ensure privacy</li>
            <li><a href="http://openxcplatform.com/#:~:text=The%20OpenXC%20Platform,%2C%20even%20beyond%20OBD%2DII." target="_blank" class="track-link">Ford's OpenXC Platform: </a>Help for getting car data and writing custom vehicle functions</li>
            <li><a href="https://developers.google.com/earth-engine" target="_blank" class="track-link">Google Earth API: </a> Analysis with geospatial datasets</li>
            
            <li><a href="https://geopy.readthedocs.io/en/stable/" target="_blank" class="track-link">Geopy: </a> Tool to locate coordinates of places around the world</li>  

        </ul>

        <h3 class="popup-sub-title"> Nonprofits </h3>
        <ul>
            <li><a href="https://www.urbandisplacement.org/about" target="_blank" class="track-link">Urban Displacement Project: </a> UDP conducts community-centered, data-driven, applied research toward more equitable and inclusive futures for cities. The goal of UDP is to produce rigorous research and create tools to empower advocates and policymakers, to reframe conversations, and to train and inspire the next generation of leaders in equitable development. Swing by the UDP tent on Nonprofit Village for resources from UDP!</li>
          
        </ul>
    </div>



  <h2 class="popup-title" id="ht"> Health Tech </h2>
    <div class="overlay-text"> 
      <img id="Ambulance" src="/img/Ambulance.svg"/>
        <h3 class ="popup-sub-title"> Description </h3>
        <p style = "text-indent : 1em;"> The Health Tech track aims to <b>improve the quality of life for individuals through health and assistance.</b> This includes a wide range of projects, such as tracking sleep for better sleep schedule maintenance, using machine learning on medical imaging to diagnose illnesses more accurately, utilizing speech-to-text to make resources more accessible to deaf patients, and much more.  </p>
        <h3 class="popup-sub-title"> Guiding Questions </h3>
        <ul>
            <li>How can we make health services more accessible and more affordable?  </li>
            <li>How can we encourage people to maintain healthy sleeping, activity, eating, etc habits?</li>
            <li>How can we stay aware of the ongoing health situation in our local communities and states?</li>
            <li>How can we make diagnosing illnesses more accurate and easier?</li>
        </ul>
        <h3 class="popup-sub-title"> Potential Topics </h3>
        <ul>
            <li> <b>Assistive Tech: </b>Although technology has greatly improved to aid individuals with disabilities, the world is still inaccessible to them. How can we engineer various solutions to make the world more disability accessible? </li>
            <li><b>Addictions: </b>How can we help individuals recovering from addictions stay clean at home and without breaking the bank?</li>
            <li> <b>Mental Health: </b>Is there a way we can spread more mental health awareness as well as information, treatments, and solutions?</li>
            <li><b>Remote Healthcare: </b>How do we make obtaining subscriptions and receiving non-surgical care easier for individuals in the face of a pandemic?</li>
            <li><b>Staying Fit with Social Distancing: </b>How can we stay fit and be motivated to stay fit during situations like COVID-19? How can we workout with friends while practicing social distancing?</li>
            <li><b>Patient Tracking: </b>Hospitals have a hard time keeping tracks of patients’ records outside of their walls. How can we implement a way to track patients and reduce this problem?</li>
        </ul>

        <h3 class="popup-sub-title"> Past HackMIT Projects </h3>
        <ul>
            <li><a href="http://leanonmeapp.com/" target="_blank" class="track-link">LeanOnMe: </a> An app to support people with cognitive differences</li>
            <li><a href="https://devpost.com/software/detection-of-breast-cancer-based-on-image-analysis" target="_blank" class="track-link">Breast Cancer Detection: </a> Use of machine learning to break down images of breast cancer cells to aid in breast cancer diagnosis</li>
            <li><a href="https://devpost.com/software/core-fh4pvs" target="_blank" class="track-link">Core: </a> An app connecting individuals looking to overcome drug addictions to a strong support network of volunteer mentors</li>
            <li><a href="https://devpost.com/software/dispenser" target="_blank" class="track-link">DispenseRX: </a> An end-to-end prescription pipeline in the form of an app</li>
            <li><a href="https://devpost.com/software/pilot-81xkaf" target="_blank" class="track-link">Pilot: </a> A motivational AI mood tracker that encourages users to break patterns of negative thinking by introducing new cultures and places</li>
            <li><a href="https://devpost.com/software/verifast" target="_blank" class="track-link">Verifast: </a> Fast, secure log-in for healthcare professionals</li>  
        </ul>
        
        <h3 class="popup-sub-title"> Resources </h3>
        <ul>
            <li><a href="https://console.cloud.google.com/marketplace/details/bigquery-public-datasets/covid19-public-data-program?_ga=2.61852266.-790027792.1588625217&pli=1" target="_blank" class="track-link">Google Cloud: </a> Access to COVID-19 Public Datasets</li>
            <li><a href="http://api.citybik.es/v2/?ref=public-apis" target="_blank" class="track-link"> City Bikes API: </a> Bike sharing data</li>
            <li><a href="https://wonder.cdc.gov/Welcome.html" target="_blank" class="track-link">CDC WONDER: </a> Wide-ranging Online Data for Epidemiological Research</li>
            <li><a href="https://apps.who.int/gho/data/node.resources" target="_blank" class="track-link">World Health Organization (WHO): </a>Health-related datasets on member countries</li>
            <li><a href="https://healthcare.ai/software/" target="_blank" class="track-link">Healthcare.ai: </a> Machine learning in healthcare data</li>
            
            <li><a href="https://hcup-us.ahrq.gov/databases.jsp" target="_blank" class="track-link">HCUP: </a> Datasets from US hospitals</li>  
            <li><a href="https://dev.fitbit.com/build/" target="_blank" class="track-link">FitBit: </a> APIs and details on how to develop an app to pair with FitBit devices</li>  
            <li><a href="https://openneuro.org/" target="_blank" class="track-link">OpenNEURO: </a> Open platform for medical imaging data</li>  
            <li><a href="https://healthdata.gov/" target="_blank" class="track-link">HealthData.gov: </a> Public health data in the United States</li>  
            <li><a href="https://seer.cancer.gov/data-software/" target="_blank" class="track-link">SEER: </a> National Cancer Institute Surveillance, Epidemiology, and End Results</li>  
            <li><a href="https://www.re3data.org/" target="_blank" class="track-link">R3 Data: </a> Registry of Research Data Repositories </li>  

        </ul>
        
    </div>


  <!-- <div class="tracks">
    <div class="column desktop">
      <h2 class="prize-catagory">GENERAL PRIZES</h2>
      {% for prize in site.data.prizes.prizes %}
      {% assign modcolor = forloop.index | modulo: 3 %}
        <div class="prize {% if modcolor == 0 %}red{% endif %}{% if modcolor == 1 %}green{% endif %}{% if modcolor == 2 %}blue{% endif %}">
          <div class="border"></div>
          <p class="title">{{prize.title}}</p>
          <p class="prize-description">{{prize.prize}}</p>
        </div>
      {% endfor %}
    </div> -->
   
      <!-- {% for track in site.data.tracks.tracks %}
        <li>{{track.track}}</li>
      {% endfor %} -->

<!-- 
      <p>Winners of track prizes will be able to choose their prize from this list!</p>
      <ul>
      {% for prize in site.data.prizes.track-prizes %}
        <li>{{prize.prize}} </li>
      {% endfor %}
      </ul>
    </div>
    <div class="column desktop blurb">
      <p>
        Project submissions must be in by <b>11:15 AM on Sunday</b>.
        At the expo, each team will present their projects for a few minutes at a time to small groups of judges in a science-fair format. After expo judging ends at <strong>1:00 PM</strong>, the top teams will be chosen for sponsor judging and panel judging.
      </p>
      
    </div> -->
  </div>

