<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Hack, create, and explore at MIT's largest hackathon. September 15-16." />
  <meta name="keywords" content="HackMIT, hackathon, MIT" />
  <meta name="theme-color" content="#180724" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:url" content="https://dayof.hackmit.org" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="HackMIT | Day Of" />
  <meta property="og:description" content="Hack, create, and explore at MIT's largest hackathon. September 15-16." />
  <meta property="og:image" content="https://hackmit.org/assets/graphics/hackcover7.png" />
  <title>{{ "HackMIT | " | append: page.title }}</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <nav class="desktop">
    <div class="container">
      <a href="https://blueprint.hackmit.org" target="_blank">
        <img class="logo" src="{{ "/img/logo.svg" | relative_url }}" />
      </a>
      <ul>
        {% for node in site.data.pages %}
          {% assign route = page.url | replace: ".html", "" %}
          {% if route == node.url %}
            <li class="active"><a href="{{ node.url | relative_url }}">{{ node.title }}</a></li>
          {% else %}
            <li><a href="{{ node.url | relative_url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  <nav class="mobile">
    <img class="hamburger" id="hamburger" src="{{ "/img/icon/hamburger.svg" | relative_url }}" />
    <img class="logo" src="{{ "/img/logo.png" | relative_url }}" />
  </nav>
  <div id="mobile-nav" class="hidden">
    <img id="close" src="{{ "/img/icon/close.svg" | relative_url }}" />
    <ul>
      {% for node in site.data.pages %}
      <li><a href="{{ node.url | relative_url }}">{{ node.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <main>
    {{ content }}
  </main>
  <script type="text/javascript">
  document.getElementById("hamburger").onclick = function(e) {
    document.getElementById("mobile-nav").classList.remove("hidden");
  };

  document.getElementById("close").onclick = function(e) {
    document.getElementById("mobile-nav").classList.add("hidden");
  };
  </script>
</body>
</html>
